<section>
    <h2>Projects</h2>
    <ul>
        <li>PowerApps, Client- Morgan Stanley, Role: Devops, Python, Azure</li>
        <li>CS Support & Development, Client- Merck HealthCare, Pole- Backend Python Tech Support and Lead</li>
        <li>Cigna HealthCare: Role - Backend Python Developer</li>
        <li>Worked for clients: Morrisons, XoServe, CentricaPLC</li>
    </ul>
    <h2>Internal Projects</h2>
    <ul>
        <li>Solution Notes on Governance Frameworks</li>
        <li>SDA: AWS Cloud modernization - Implemenation of GenAI for Internal Use Cases</li>
    </ul>
</section>